# Assignment 1 Task 2
# Multivariate Linear Regression Using Multiple Features

### Importing the Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import altair as alt

### Loading and Preparing the Dataset

In [2]:
# Importing the Dataset
train_data = pd.read_csv('/Users/varunsinghchhetri/Downloads/cancer_us_county-training.csv')
test_data = pd.read_csv('/Users/varunsinghchhetri/Downloads/cancer_us_county-testing.csv')

In [3]:
# Saving the Dataset into DataFrames
df_train= pd.DataFrame(train_data)
df_test = pd.DataFrame(test_data)

In [4]:
# Displaying the first five rows
df_train.head()

,avgAnnCount,avgDeathsPerYear,TARGET_deathRate,incidenceRate,medIncome,popEst2015,povertyPercent,studyPerCap,binnedInc,MedianAge,...,PctEmpPrivCoverage,PctPublicCoverage,PctPublicCoverageAlone,PctWhite,PctBlack,PctAsian,PctOtherRace,PctMarriedHouseholds,BirthRate,Id
0,88.000000,40,261.0,561.400000,29090,13352,26.8,2771.120431,"[22640, 34218.1]",39.8,...,32.0,47.5,32.9,99.693045,0.044920,0.000000,0.000000,55.499459,6.838710,0
1,73.000000,35,167.3,345.600000,29782,21903,38.8,0.000000,"[22640, 34218.1]",32.3,...,18.8,45.3,34.1,94.791383,1.649850,0.063631,2.854286,52.818296,4.799131,1
2,292.000000,124,191.0,468.400000,41955,48985,15.5,0.000000,"(40362.7, 42724.4]",42.2,...,44.9,34.5,16.0,95.102348,1.741749,0.376429,0.445611,50.560800,3.996826,2
3,1962.667684,7,165.4,453.549422,55378,3007,11.1,0.000000,"(54545.6, 61494.5]",41.6,...,49.6,30.1,15.2,85.833870,0.933677,0.160979,7.244044,52.565181,3.291536,3
4,43.000000,20,160.6,349.700000,26309,8551,35.3,0.000000,"[22640, 34218.1]",43.9,...,30.4,45.1,24.5,24.535525,73.223736,0.394100,1.396239,33.641208,3.166561,4

In [5]:
# Displaying the last five rows
df_train.tail()

,avgAnnCount,avgDeathsPerYear,TARGET_deathRate,incidenceRate,medIncome,popEst2015,povertyPercent,studyPerCap,binnedInc,MedianAge,...,PctEmpPrivCoverage,PctPublicCoverage,PctPublicCoverageAlone,PctWhite,PctBlack,PctAsian,PctOtherRace,PctMarriedHouseholds,BirthRate,Id
2433,389.000000,157,185.3,456.600000,65485,83199,7.7,0.000000,"(61494.5, 125635]",40.1,...,55.1,24.2,11.3,91.187608,4.445537,1.405213,0.858126,60.095060,5.175689,3041
2434,286.000000,117,196.7,492.400000,42477,46222,16.9,281.251352,"(40362.7, 42724.4]",40.8,...,46.2,34.9,18.8,90.130702,5.943936,0.472935,0.485833,51.648588,4.651829,3042
2435,103.000000,42,204.1,506.700000,40339,18201,21.3,0.000000,"(37413.8, 40362.7]",38.6,...,34.4,36.9,20.6,65.463178,30.550955,0.645909,0.104891,49.758980,4.344104,3043
2436,1962.667684,23,171.1,453.549422,39764,8856,16.7,0.000000,"(37413.8, 40362.7]",43.8,...,37.3,40.0,21.3,94.625317,0.154508,0.629070,0.684251,49.880605,6.210826,3045
2437,219.000000,89,179.7,449.100000,40801,37585,17.2,0.000000,"(40362.7, 42724.4]",42.9,...,37.5,39.4,21.8,91.393432,3.381528,0.055305,3.149772,49.892641,6.549178,3046

In [6]:
# Displaying the number of rows and columns in the dataset (dimensions)
df_train.shape

(2438, 35)

In [7]:
# Displaying the descriptive statistics of the dataset
df_train.describe()

,avgAnnCount,avgDeathsPerYear,TARGET_deathRate,incidenceRate,medIncome,popEst2015,povertyPercent,studyPerCap,MedianAge,MedianAgeMale,...,PctEmpPrivCoverage,PctPublicCoverage,PctPublicCoverageAlone,PctWhite,PctBlack,PctAsian,PctOtherRace,PctMarriedHouseholds,BirthRate,Id
count,2438.000000,2438.000000,2438.000000,2438.000000,2438.000000,2.438000e+03,2438.000000,2438.000000,2438.000000,2438.000000,...,2438.000000,2438.000000,2438.000000,2438.000000,2438.000000,2438.000000,2438.000000,2438.000000,2438.000000,2438.000000
mean,587.171930,180.592699,178.848482,448.308247,47028.427810,9.851579e+04,16.854348,166.019192,45.313782,39.640853,...,41.242453,36.275718,19.234824,83.776008,9.043586,1.230949,1.947961,51.216669,5.627447,1523.789171
std,1236.447895,438.473144,27.538452,53.247868,11919.386622,2.745272e+05,6.388398,563.813830,45.053173,5.217646,...,9.366433,7.823347,6.094083,16.275962,14.361902,2.558111,3.541698,6.501254,1.966257,874.905673
min,6.000000,3.000000,66.300000,201.300000,22640.000000,8.270000e+02,3.200000,0.000000,22.300000,22.400000,...,13.500000,11.200000,2.600000,10.199155,0.000000,0.000000,0.000000,22.992490,0.000000,0.000000
25%,76.000000,28.000000,161.400000,420.300000,38872.750000,1.154575e+04,12.100000,0.000000,37.800000,36.400000,...,34.600000,30.925000,15.000000,77.341176,0.634412,0.247022,0.288937,47.826087,4.516355,775.250000
50%,172.500000,62.000000,178.100000,453.549422,45186.500000,2.694250e+04,15.900000,0.000000,41.000000,39.600000,...,41.300000,36.400000,18.800000,90.121405,2.302054,0.550713,0.798971,51.662077,5.366485,1512.500000
75%,521.500000,151.000000,195.300000,481.975000,52492.500000,6.952450e+04,20.400000,92.562203,44.075000,42.500000,...,47.600000,41.500000,23.100000,95.464864,10.452697,1.207158,2.106155,55.331622,6.458322,2279.750000
max,24965.000000,9445.000000,293.900000,1014.200000,125635.000000,5.238216e+06,47.400000,9762.308998,624.000000,64.700000,...,70.700000,65.100000,46.600000,100.000000,84.866024,42.619425,41.930251,78.075397,18.556701,3046.000000

In [8]:
# Dsiplaying the information of the dataset (summary)
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2438 entries, 0 to 2437
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   avgAnnCount              2438 non-null   float64
 1   avgDeathsPerYear         2438 non-null   int64
 2   TARGET_deathRate         2438 non-null   float64
 3   incidenceRate            2438 non-null   float64
 4   medIncome                2438 non-null   int64
 5   popEst2015               2438 non-null   int64
 6   povertyPercent           2438 non-null   float64
 7   studyPerCap              2438 non-null   float64
 8   binnedInc                2438 non-null   object
 9   MedianAge                2438 non-null   float64
 10  MedianAgeMale            2438 non-null   float64
 11  MedianAgeFemale          2438 non-null   float64
 12  Geography                2438 non-null   object
 13  AvgHouseholdSize         2438 non-null   float64
 14  PercentMarried           2438 non-null   float64
 15  PctNoHS18_24             2438 non-null   float64
 16  PctHS18_24               2438 non-null   float64
 17  PctSomeCol18_24          612 non-null    float64
 18  PctBachDeg18_24          2438 non-null   float64
 19  PctHS25_Over             2438 non-null   float64
 20  PctBachDeg25_Over        2438 non-null   float64
 21  PctEmployed16_Over       2316 non-null   float64
 22  PctUnemployed16_Over     2438 non-null   float64
 23  PctPrivateCoverage       2438 non-null   float64
 24  PctPrivateCoverageAlone  1938 non-null   float64
 25  PctEmpPrivCoverage       2438 non-null   float64
 26  PctPublicCoverage        2438 non-null   float64
 27  PctPublicCoverageAlone   2438 non-null   float64
 28  PctWhite                 2438 non-null   float64
 29  PctBlack                 2438 non-null   float64
 30  PctAsian                 2438 non-null   float64
 31  PctOtherRace             2438 non-null   float64
 32  PctMarriedHouseholds     2438 non-null   float64
 33  BirthRate                2438 non-null   float64
 34  Id                       2438 non-null   int64
dtypes: float64(29), int64(4), object(2)
memory usage: 666.8+ KB

In [9]:
df_train.isna().sum()

avgAnnCount                   0
avgDeathsPerYear              0
TARGET_deathRate              0
incidenceRate                 0
medIncome                     0
popEst2015                    0
povertyPercent                0
studyPerCap                   0
binnedInc                     0
MedianAge                     0
MedianAgeMale                 0
MedianAgeFemale               0
Geography                     0
AvgHouseholdSize              0
PercentMarried                0
PctNoHS18_24                  0
PctHS18_24                    0
PctSomeCol18_24            1826
PctBachDeg18_24               0
PctHS25_Over                  0
PctBachDeg25_Over             0
PctEmployed16_Over          122
PctUnemployed16_Over          0
PctPrivateCoverage            0
PctPrivateCoverageAlone     500
PctEmpPrivCoverage            0
PctPublicCoverage             0
PctPublicCoverageAlone        0
PctWhite                      0
PctBlack                      0
PctAsian                      0
PctOtherRace                  0
PctMarriedHouseholds          0
BirthRate                     0
Id                            0
dtype: int64

In [10]:
df_train[['PctSomeCol18_24','PctEmployed16_Over','PctPrivateCoverageAlone']].describe(include="all")

       PctSomeCol18_24  PctEmployed16_Over  PctPrivateCoverageAlone
count       612.000000         2316.000000              1938.000000
mean         41.010621           54.121805                48.453148
std          11.054857            8.313764                10.002029
min           7.100000           19.500000                15.700000
25%          33.900000           48.600000                41.000000
50%          40.400000           54.400000                48.600000
75%          46.700000           60.400000                55.700000
max          79.000000           80.100000                78.900000

In [11]:
df_train.isna().sum()

avgAnnCount                   0
avgDeathsPerYear              0
TARGET_deathRate              0
incidenceRate                 0
medIncome                     0
popEst2015                    0
povertyPercent                0
studyPerCap                   0
binnedInc                     0
MedianAge                     0
MedianAgeMale                 0
MedianAgeFemale               0
Geography                     0
AvgHouseholdSize              0
PercentMarried                0
PctNoHS18_24                  0
PctHS18_24                    0
PctSomeCol18_24            1826
PctBachDeg18_24               0
PctHS25_Over                  0
PctBachDeg25_Over             0
PctEmployed16_Over          122
PctUnemployed16_Over          0
PctPrivateCoverage            0
PctPrivateCoverageAlone     500
PctEmpPrivCoverage            0
PctPublicCoverage             0
PctPublicCoverageAlone        0
PctWhite                      0
PctBlack                      0
PctAsian                      0
PctOtherRace                  0
PctMarriedHouseholds          0
BirthRate                     0
Id                            0
dtype: int64

In [12]:
print(df_train.select_dtypes(include=['object']).columns)

Index(['binnedInc', 'Geography'], dtype='object')

In [13]:
df_train_copy = df_train.drop(['binnedInc', 'Geography', 'PctSomeCol18_24', 'PctEmployed16_Over', 'PctPrivateCoverageAlone'], axis=1)

In [14]:
df_train_copy.shape

(2438, 30)

# Preparing the Selected Features

In [15]:
df_train_copy.dropna(inplace=True)
df_train_copy.fillna(df_train.mean(), inplace=True)

/var/folders/lz/7z4s1cw55w31v9lp9ryhn6_h0000gn/T/ipykernel_72325/1014697076.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_train_copy.fillna(df_train.mean(), inplace=True)

In [16]:
y = df_train_copy.pop('TARGET_deathRate')

In [17]:
X = df_train_copy

### Perfroming Linear Regression with test and train data

In [18]:
# Import the MSE and MAE from sklearn
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae

In [19]:
# Import the linear regression module from sklearn
from sklearn.linear_model import LinearRegression

In [20]:
# Instantiate the LinearRegression class into a variable called reg1
reg1 = LinearRegression()

In [21]:
reg1.fit(X, y)

LinearRegression()

In [22]:
# Calculate the MSE and MAE between the target variable and the predictions
y_preds = reg1.predict(X)
print(mse(y, y_preds, squared=True))
print(mae(y, y_preds))

358.56238112774133
14.112541888789037

# Importing Test Data

In [23]:
df_test_copy = df_test

In [24]:
y_test = df_test_copy.pop('TARGET_deathRate')
y_test_mean = y_test.mean()

### Training the test model

In [25]:
# Instantiate the LinearRegression class into a variable called reg2
reg2 = LinearRegression()

In [26]:
df_test_copy = df_test_copy.drop(['binnedInc', 'Geography', 'PctSomeCol18_24', 'PctEmployed16_Over', 'PctPrivateCoverageAlone'], axis=1)

In [27]:
X_test = df_test_copy
reg2.fit(X_test, y_test)

LinearRegression()

In [28]:
# Calculate the MSE and MAE between the target variable and the predictions
y_test_preds = reg2.predict(X_test)
print(mse(y_test, y_test_preds, squared=True))
print(mae(y_test, y_test_preds))

385.7832964490536
14.58837128984744

In [29]:
X_train = X
y_train = y

# Performing Elastic Net With Outliers

In [30]:
from sklearn.linear_model import ElasticNet

In [31]:
# Model Performance Score 
elasticnet_model = ElasticNet()
model = elasticnet_model.fit(X_train, y_train)
model.score(X_train, y_train)

0.5252049645433825

In [32]:
# Instantiate the ElasticNet class into a variable called elasticnet_reg and fit it on the training set
elasticnet_reg = ElasticNet()
elasticnet_reg.fit(X_train, y_train)

ElasticNet()

In [33]:
# Instantiate the ElasticNet class into a variable called elasticnet_reg and fit it on the training set
elasticnet_reg = ElasticNet()
elasticnet_reg.fit(X_train, y_train)

ElasticNet()

In [34]:
# Print the RMSE and MAE scores for the training set
y_train_preds_elastic = elasticnet_reg.predict(X_train)
print(mse(y_train, y_train_preds_elastic, squared=True))
print(mae(y_train, y_train_preds_elastic))

359.9208712268564
14.160003282089773

In [35]:
y_test_preds_elastic = elasticnet_reg.predict(X_test)
print(mse(y_test, y_test_preds_elastic, squared=True))
print(mae(y_test, y_test_preds_elastic))

428.4349275114416
15.19179794198464

# Performing Decison Tree With Outliers

In [36]:
from sklearn.tree import DecisionTreeRegressor

In [37]:

decisiontree_model = DecisionTreeRegressor(max_depth=5, random_state=42)
decisiontree_model.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=5, random_state=42)

In [38]:
y_train_preds_decision = decisiontree_model.predict(X_train)
print(mse(y_train, y_train_preds_decision, squared=True))
print(mae(y_train, y_train_preds_decision))

346.9549812817064
14.377399867504112

In [39]:
y_test_preds_decision = decisiontree_model.predict(X_test)
print(mse(y_test, y_test_preds_decision, squared=True))
print(mae(y_test, y_test_preds_decision))

557.346549788346
17.163496630393503

# Performing Random Forest with Outliers

In [40]:
from sklearn.ensemble import RandomForestRegressor

In [41]:
RandomForest_model = RandomForestRegressor(n_estimators=100, max_depth=5, random_state=42)
RandomForest_model.fit(X_train, y_train)

RandomForestRegressor(max_depth=5, random_state=42)

In [42]:
y_train_preds_random = RandomForest_model.predict(X_train)
print(mse(y_train, y_train_preds_random, squared=True))
print(mae(y_train, y_train_preds_random))

290.92062111840005
13.099768827161453

In [43]:
y_test_preds_random = RandomForest_model.predict(X_test)
print(mse(y_test, y_test_preds_random, squared=True))
print(mae(y_test, y_test_preds_random))

438.4287276322191
15.212055774739257

# Removing Outliers

In [44]:
df_train = df_train.drop(['binnedInc', 'Geography', 'PctSomeCol18_24', 'PctEmployed16_Over', 'PctPrivateCoverageAlone'], axis=1)

In [45]:
def remove_outliers(col):
    q1 = np.percentile(col, 25)
    q3 = np.percentile(col, 75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr)
    upper_bound = q3 + (1.5 * iqr)
    return col[(col > lower_bound) & (col < upper_bound)]

In [46]:
for col in df_train.columns:
    df_train[col] = remove_outliers(df_train[col])

In [47]:
df_train.dropna(inplace=True)
df_train.fillna(df_train.mean(), inplace=True)

In [48]:
y = df_train.pop('TARGET_deathRate')
X = df_train

# Performing Linear Regression Without Outliers

In [49]:
# Instantiate the LinearRegression class into a variable called reg2
reg2 = LinearRegression()

In [50]:
reg2.fit(X, y)

LinearRegression()

In [51]:
# Calculate the MSE and MAE between the target variable and the predictions
y_preds2 = reg2.predict(X)
print(mse(y, y_preds2, squared=True))
print(mae(y, y_preds2))

193.34209159709766
10.380664857371093

In [52]:
y_test2 = y_test
y_test_mean2 = y_test2.mean()

In [53]:
df_test = df_test_copy

In [54]:
X_test2 = df_test
reg2.fit(X_test2, y_test2)

LinearRegression()

In [55]:
# Calculate the MSE and MAE between the target variable and the predictions
y_test_preds2 = reg2.predict(X_test2)
print(mse(y_test2, y_test_preds2, squared=True))
print(mae(y_test2, y_test_preds2))

385.7832964490536
14.58837128984744

In [56]:
X_train = X
y_train = y

# Performing Elasticnet Without Outlier

In [57]:
elasticnet_model = ElasticNet()
model = elasticnet_model.fit(X_train, y_train)
model.score(X_train, y_train)

0.6430211271864898

In [58]:
# Instantiate the ElasticNet class into a variable called elasticnet_reg and fit it on the training set
elasticnet_reg = ElasticNet()
elasticnet_reg.fit(X_train, y_train)

ElasticNet()

In [59]:
# Print the RMSE and MAE scores for the training set
y_train_preds = elasticnet_reg.predict(X_train)
print(mse(y_train, y_train_preds, squared=True))
print(mae(y_train, y_train_preds))

196.4226410225887
10.42665822950546

In [60]:
y_test_preds = elasticnet_reg.predict(X_test)
print(mse(y_test, y_test_preds, squared=True))
print(mae(y_test, y_test_preds))

79841.0323979738
100.1541512519489

# Performing Decision Tree Without Outliers

In [61]:
decisiontree_model = DecisionTreeRegressor(max_depth=5, random_state=42)
decisiontree_model.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=5, random_state=42)

In [62]:
y_train_preds = decisiontree_model.predict(X_train)
print(mse(y_train, y_train_preds, squared=True))
print(mae(y_train, y_train_preds))

241.0073502310996
12.118540166297104

In [63]:
y_test_preds = decisiontree_model.predict(X_test)
print(mse(y_test, y_test_preds, squared=True))
print(mae(y_test, y_test_preds))

620.3086860052689
18.669685729534947

# Performing Random Forest Without Outliers

In [64]:
RandomForest_model = RandomForestRegressor(n_estimators=100, max_depth=5, random_state=42)
RandomForest_model.fit(X_train, y_train)

RandomForestRegressor(max_depth=5, random_state=42)

In [65]:
y_train_preds_random = RandomForest_model.predict(X_train)
print(mse(y_train, y_train_preds_random, squared=True))
print(mae(y_train, y_train_preds_random))

200.29253227946913
11.181636137431985

In [66]:
y_test_preds_random = RandomForest_model.predict(X_test)
print(mse(y_test, y_test_preds_random, squared=True))
print(mae(y_test, y_test_preds_random))

534.1937886496717
17.081098074690676

This code is referenced from Week 3 - Lab 1-3